@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Smooth transitions */
* {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* Inverted radius mask - matching example exactly */
.bottom-left,
.bottom-right {
  --r: 20px; /* the radius */
  --s: 40px; /* the size of the corner */
  --_m: calc(2*var(--r)) calc(2*var(--r))
    radial-gradient(#000 70%,#0000 72%) no-repeat;
}

.bottom-left {
  mask:
    calc(var(--s) + var(--r)) bottom var(--_m),
    bottom calc(var(--s) + var(--r)) left 0 var(--_m),
    radial-gradient(var(--s) at 0 100%,#0000 99%,#000 101%) 
     var(--r) calc(-1*var(--r)) no-repeat,
    conic-gradient(from 180deg at calc(var(--s) + 2*var(--r)) calc(100% - var(--s) - 2*var(--r)),
     #0000 25%,#000 0);
  
  -webkit-mask:
    calc(var(--s) + var(--r)) bottom var(--_m),
    bottom calc(var(--s) + var(--r)) left 0 var(--_m),
    radial-gradient(var(--s) at 0 100%,#0000 99%,#000 101%) 
     var(--r) calc(-1*var(--r)) no-repeat,
    conic-gradient(from 180deg at calc(var(--s) + 2*var(--r)) calc(100% - var(--s) - 2*var(--r)),
     #0000 25%,#000 0);
}

.bottom-right {
  mask:
    right 0 bottom calc(var(--s) + var(--r)) var(--_m),
    right calc(var(--s) + var(--r)) bottom 0 var(--_m),
    radial-gradient(var(--s) at 100% 100%,#0000 99%,#000 101%) 
     calc(-1*var(--r)) calc(-1*var(--r)) no-repeat,
    conic-gradient(from 90deg at calc(100% - var(--s) - 2*var(--r)) calc(100% - var(--s) - 2*var(--r)),
     #0000 25%,#000 0);
  
  -webkit-mask:
    right 0 bottom calc(var(--s) + var(--r)) var(--_m),
    right calc(var(--s) + var(--r)) bottom 0 var(--_m),
    radial-gradient(var(--s) at 100% 100%,#0000 99%,#000 101%) 
     calc(-1*var(--r)) calc(-1*var(--r)) no-repeat,
    conic-gradient(from 90deg at calc(100% - var(--s) - 2*var(--r)) calc(100% - var(--s) - 2*var(--r)),
     #0000 25%,#000 0);
}

/* Tab trigger styles */
.tab-trigger {
  border: 0px;
  outline: none;
  padding: 0px 10px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.tab-trigger svg {
  position: absolute;
  height: 40px;
  color: #fff;
}

.tab-trigger .left-curve {
  left: 1px;
  transform: translateX(-100%) rotateY(180deg);
}

.tab-trigger .right-curve {
  right: 1px;
  transform: translateX(100%);
}
